<div class="shopping_cart_container col-xs-12 col-sm-12 col-md-4">
  <%= erb :_shopping_cart, locals: { cart: @cart, discount: @discount } %>
</div>

<ul class="products_list col-md-8">
  <%= erb :_products_list, locals: { products: @products } %>
</ul>